# Jibo RCM Mode USB Rules
# This allows non-root users to access Jibo in RCM mode
#
# Installation:
#   sudo cp 99-jibo-rcm.rules /etc/udev/rules.d/
#   sudo udevadm control --reload-rules
#   sudo udevadm trigger
#
# Then unplug and replug Jibo (or re-enter RCM mode)

# Nvidia APX (Tegra RCM mode) - Jibo uses 0955:7740
SUBSYSTEM=="usb", ATTR{idVendor}=="0955", ATTR{idProduct}=="7740", MODE="0666", GROUP="plugdev", TAG+="uaccess"

# Jetson TK1 RCM mode (just in case)
SUBSYSTEM=="usb", ATTR{idVendor}=="0955", ATTR{idProduct}=="7140", MODE="0666", GROUP="plugdev", TAG+="uaccess"

# Shield TK1 RCM mode (just in case)
SUBSYSTEM=="usb", ATTR{idVendor}=="0955", ATTR{idProduct}=="7f40", MODE="0666", GROUP="plugdev", TAG+="uaccess"
